# Pickle 환경 변수 설정
# Google Sheets 설정
## 메인
# VITE_SPREADSHEET_ID=
# VITE_STG_SPREADSHEET_ID=
VITE_WORKSHEET_NAME=
## 테스트용
VITE_SPREADSHEET_ID=
VITE_STG_SPREADSHEET_ID=

# Google OAuth 설정
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_API_KEY=

#VITE_GOOGLE_API_KEY=

# 관리자 대시보드
VITE_ADMIN_EPI_URL=
VITE_ADMIN_EPI_URL_STG=

# 상용 API URL
VITE_PROD_API_URL=
VITE_STG_API_URL=

# Supabase 설정
## 웹 데모 (carlifedev's supabase)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
## 상용 콘텐츠용 (obigopickle's supabase)
VITE_SUPABASE_URL_PROD=
VITE_SUPABASE_ANON_KEY_PROD=

#-------------------------------------------------------

# Picknow 환경 변수 설정
VITE_PICKNOW_PUBLIC_KEY=

# 검증 서버
## 한국
VITE_PICKNOW_API_URL_STG_KR=
## 인도
VITE_PICKNOW_API_URL_STG_IN=
# 데모 서버
## 한국
VITE_PICKNOW_API_URL_KR_DEMO=
## 북미
VITE_PICKNOW_API_URL_US_DEMO=
## 싱가폴 (인도)
VITE_PICKNOW_API_URL_SG_DEMO=
## 유럽
VITE_PICKNOW_API_URL_EU_DEMO=
## 호주
VITE_PICKNOW_API_URL_AU_DEMO=

# 상용 서버
## 한국 (KIA PV5)
VITE_PICKNOW_API_URL_KR_PROD_KIA=
## 한국 (MOTREX, KGM)
VITE_PICKNOW_API_URL_KR_PROD=
## 북미 (MOTREX)
VITE_PICKNOW_API_URL_US_PROD=
## 싱가폴(인도)
VITE_PICKNOW_API_URL_SG_PROD=

# 관리자 대시보드
VITE_PICKNOW_ADMIN_EPI_URL_STG=

# 구글 시트
VITE_PICKNOW_SPREADSHEET_ID_STG=
VITE_PICKNOW_SPREADSHEET_ID_DEMO=
VITE_PICKNOW_SPREADSHEET_ID_PROD=

# 로컬 개발 설정
VITE_REDIRECT_URL=
VITE_TEST_ID=
VITE_TEST_PW=

#-------------------------------------------------------

# Pickjoy 환경 변수 설정
VITE_PICKJOY_API_URL=

#-------------------------------------------------------

# 픽시리즈 운영 통합 대시보드 시트
## 테스트용
VITE_PICKSERIES_SPREADSHEET_ID=

# 픽시리즈 Google Sheets 서비스 계정 로그인 정보
PICKSERIES_GOOGLE_CLIENT_EMAIL=
PICKSERIES_GOOGLE_PRIVATE_KEY=